nav ul li a {
	font-weight: bold;
	color: white !important;
	font-size: 20px;
	font-family: verdana;
	text-transform: uppercase;
}

nav ul {
	margin-right: 200px;
}

nav ul li {
	margin-left: 50px;
}

.carousel {
	margin-top: 50px;
}

section#about {
	margin-bottom: 50px;
}

section#about h2 {
	margin-top: 80px;
	text-align: center;
}

section#about img {
	margin-top: 80px;
	width: 50%;
	border-radius: 5% 5%;
}

section#product h2  {
	margin-top: 100px;
	text-align: center;
}

section#product .card {
	margin-left: 50px;
}

footer a i {
	margin-right: 15px;
}